.text1{
    width: 150px;
    height: 50px;
    color: white;
    background-color: blue;
}

.text2{
    margin-top: 60px;
}

.text2 span{
    color: red;
}

.text3{
    color: white;
    background-color: green;
}

.text5{
    color: white;
    height: 125px;
    background-color: green;
}

.text5 div{
    padding-top: 45px;
    padding-left: 45px;
}

.text6{
    padding-left: 30px;
}

.text7{     
    padding-left: 30px;
}

li{
    font-weight: bold;
    border: 1px solid black;
} 

.text8{
    color: white;
    background-color: green;
}